
%h2 Editing User

%p
  Name:
  = @user.name
%p
  Github Username:
  = @user.github_username
%p
  Email:
  = @user.email

= simple_form_for(@user) do |f|

  .form-inputs
    = f.input :admin

  .form-actions
    = f.button :submit, 'Update User'

