-events.each do |event|
  .transparent-region
    - if user_is_admin?
      = link_to edit_event_path(event), :class => "pull-right" do
        =icon_btn "Edit Event", "pencil"
    %h3= link_to event.name, event.facebook_link, :class => 'event-title'
    %p
      = event.date.to_s(:pretty)
      at
      = event.location
      .row
        .span9
          != event.rendered_description
        .span3
          -#if event.attachments.length
            =#lightbox event.attachments.first, event.name