= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :date, :ampm => true
    = f.input :location
    = f.input :facebook_link
    = f.input :description, :input_html => { :class => "input-xxlarge", :rows => 15 }

  .form-actions
    = f.button :submit

    - if @event.id
      = link_to 'Delete Event',
        event_path(@event),
        :method => :delete,
        :confirm => 'Are you sure you wish to delete this event?',
        :class => 'btn btn-danger'