= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :date, :ampm => true
    = f.input :location
    = f.input :facebook_link
    = f.input :description, :input_html => { :class => "input-xxlarge", :rows => 15 }
    = f.simple_fields_for :attachments, html: { multipart: true } do |a|
      = a.input :image
      = file_field_tag('event_attachments', multiple: true, name: "item[attached_assets_attributes][][asset]")

  .form-actions
    = f.button :submit

    - if @event.id
      = link_to 'Delete Event',
        event_path(@event),
        :method => :delete,
        :confirm => 'Are you sure you wish to delete this event?',
        :class => 'btn btn-danger'