#wrapper
  %h1 Event driven architecture
  .box
    %p ACM Mizzou is on a mission to make the world awesome!
    %p Insert a lot more mission here.  Insert a lot more mission here.  We want to change the world and hack and do cool stuff.  More mission here.
    %p
  %h2 Upcoming Events
  .box
    - if user_is_admin?
      %p{:style => 'float: right;'}
        = link_to 'New Event', new_event_path, :style => 'float: right;'
    - @events.each do |event|
      %p 
        Name:
        = event.name
      %p 
        Description:  
        = event.description
      %p 
        Location:  
        = event.location       
      %p
        Time:
        = event.date.to_s
      %hr


