-markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, :autolink => true, :space_after_headers => true)
#event-wrapper
  %h1 Come learn with us!
  .box
    %p ACM Mizzou is on a mission to make Mizzou hackers awesome!
    %p 
      If you're up for learning how to grapple with the latest tech, we encourage you to join us.
      Employers will be impressed, you'll be the hacking master everyone looks up to, and you'll make really cool stuff.  What's not to like?
    %p Have a cool technology or project you'd like to share?  Drop us a line.
  %h2 Upcoming Events
  .box.upcoming-events
    - if user_is_admin?
      %p{:style => 'float: right;'}
        = link_to 'New Event', new_event_path, :style => 'float: right;'

    - unless @upcoming_events.empty?
      - @upcoming_events.each do |event|
        %p.event-title
          = event.name
        %p 
          != markdown.render(event.description)
        %p 
          Location:  
          = event.location       
        %p
          Time:
          = event.date.to_s(:pretty)
        - if user_is_admin?
          %p
            = link_to 'Edit', edit_event_path(event)
        %hr
    - else
      %p We currently have no upcoming events planned. Check back soon!

  %h2 Past Events
  .box.past-events
    - unless @past_events.empty?
      - @past_events.each do |event|
        %p.event-title
          = event.name
        %p 
          != markdown.render(event.description)
        %p 
          Location:  
          = event.location       
        %p
          Time:
          = event.date.to_s(:pretty)
        - if user_is_admin?
          %p
            = link_to 'Edit', edit_event_path(event)
        %hr
    - else
      %p This section will hopefully grow very quickly as the new ACM leadership plans tons of cool stuff!

