#wrapper
  %h1 Event driven architecture
  .box
    %p ACM Mizzou holds frequent workshops, lectures, hackerspaces, and social events.
    %p We're a community driven by sharing knowledge, building projects, and helping each other become better hackers. All workshops are run by volunteers. If you have something cool to share with the Hack community, email workshops@hackersatberkeley.com to set up an event.
    %p
  %h2 Upcoming Events
  .box
    - if user_is_admin?
      %p{:style => 'float: right;'}
        = link_to 'New Event', new_event_path, :style => 'float: right;'
    - @events.each do |event|
      %p 
        Name:
        = event.name
      %p 
        Description:  
        = event.description
      %p 
        Location:  
        = event.location       
      %p
        Time:
        = event.date.to_s
      %hr


