= simple_form_for(@project) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :photo
    = f.input :source_link, label:'Source Code'
    = f.input :demo_link, label:'Demo Link'
    = f.button :submit
