%p#notice= notice

%p
  %b Title:
  = @project.title
=image_tag @project.photo.url(:large)
%p
  %b Description:
  = @project.description
%p
  %b User:
  = @project.user
%p
  %b Link:
  = @project.link

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
