!!!
%html
  %head
    = stylesheet_link_tag "application", :media => "all"
    %link{:href => "MyFontsWebfontsKit/MyFontsWebfontsKit.css", :rel => "stylesheet", :type => "text/css"}
  %body.body
    #top-header
      #headercenter
        %div{:style => "right: 0px; float: right;"}
          = render 'layouts/user_nav'
    #main-header{:class => ('main-header-background' if current_page?(root_path) )}
      %a{:href => root_path}
        #logo
          ACM
          %span.gold MIZZOU
      %ul#menu
        = nav_link 'Home', root_path
        = nav_link 'Projects', hacks_path
        = nav_link 'Events', events_path
        = nav_link 'People', '/people'
        = nav_link 'Facebook', 'https://www.facebook.com/groups/MizzouACM/?fref=ts'
        = nav_link 'Join ACM', 'https://orgsync.com/47160/chapter'
    #main{:role => "main"}
      = render 'layouts/messages'
      = yield
