!!!
%html
  %head
    %title
      Mizzou ACM
    = javascript_include_tag "application", :media => "all"
    = stylesheet_link_tag "application", :media => "all"
    %link{:href => "MyFontsWebfontsKit/MyFontsWebfontsKit.css", :rel => "stylesheet", :type => "text/css"}
  %body.body
    #top-header
      #headercenter
        %div{:style => "right: 0px; float: right;"}
          = render 'layouts/user_nav'
    #main-header{:class => ('main-header-background' if current_page?(root_path) )}
      %a{:href => root_path}
        #logo
          ACM
          %span.gold MIZZOU
      %ul#menu
        = nav_link 'Home', root_path
        = nav_link 'Projects', '/projects'
        = nav_link 'Events', events_path
        = nav_link 'People', '/users'
        = nav_link 'Facebook', 'https://www.facebook.com/groups/MizzouACM/?fref=ts'
        = nav_link 'Join ACM', 'https://orgsync.com/47160/chapter'
    #main{:role => "main"}
      = render 'layouts/messages'
      = yield

    :javascript
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-40199292-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

