!!!
%html
  %head
    = stylesheet_link_tag "brendon", :media => "all"
    %link{:href => "MyFontsWebfontsKit/MyFontsWebfontsKit.css", :rel => "stylesheet", :type => "text/css"}/
  %body.body
    #top-header
      #headercenter
        %div{:style => "right: 0px; float: right;"}
          = render 'layouts/user_nav'
    #gloss
      = link_to root_path
      #logo
        ACM
        %span.blue MIZZOU
      %ul#menu
        = nav_link 'Home', root_path
        = nav_link 'Projects', '#'
        = nav_link 'Events', events_path
        = nav_link 'People', '#'
        = nav_link 'Sponsorship', '#'
        = nav_link 'Join ACM', 'https://orgsync.com/47160/chapter'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
